body{
	/*background-image: url("img/bcg.png");*/
    background-image: url("img/bcg.jpg");
    background-attachment: fixed;
	/*one picture/*
	background-image: url("img/original.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	/*******/
}

hr{
	border-top: 1px solid rgb(150,150,150);
	width: 86%;
}