<div *ngIf="staticGuests" id="guests">
  <div id="cont">
    <h1>Naši gosti</h1>
    <hr>
      <table>
        <tr *ngFor="let guest of guestService.guestList">
          <td>
            <div id="text">
              <h1>
                {{guest.Name}}
              </h1>
              <p>
                {{guest.Description}}
              </p>
            </div>
            <div id="picture">
              <img src="{{guest.Picture}}">
            </div>
            <br>
            <hr>
          </td>
        </tr>
      </table>
  </div>
</div>