<div *ngIf="staticGuests" id="guests">
	<div id="container">
		<div id="txt">
			<h1>Vedran Sokol</h1>
			<p>jsddf jieorrtj sdfniojhrt erj uiehieur hiw ouh erljkbsdlkfjh rl ulhrlrtjngl</p>
		</div>
		<img src="" id="picture">
	</div>
	<hr>
	<div id="container">
		<div id="txt">
			<h1>Vedran Sokol</h1>
			<p>jsddf jieorrtj sdfniojhrt erj uiehieur hiw ouh erljkbsdlkfjh rl ulhrlrtjngl</p>
		</div>
		<img src="" id="picture">
	</div>
	<hr>
	<div id="container">
		<div id="txt">
			<h1>Vedran Sokol</h1>
			<p>jsddf jieorrtj sdfniojhrt erj uiehieur hiw ouh erljkbsdlkfjh rl ulhrlrtjngl</p>
		</div>
		<img src="" id="picture">
	</div>
	<hr>
	<div id="container">
		<div id="txt">
			<h1>Vedran Sokol</h1>
			<p>jsddf jieorrtj sdfniojhrt erj uiehieur hiw ouh erljkbsdlkfjh rl ulhrlrtjngl</p>
		</div>
		<img src="" id="picture">
	</div>
	<hr>
	<div id="container">
		<div id="txt">
			<h1>Vedran Sokol</h1>
			<p>jsddf jieorrtj sdfniojhrt erj uiehieur hiw ouh erljkbsdlkfjh rl ulhrlrtjngl</p>
		</div>
		<img src="" id="picture">
	</div>
	<hr>
	<div id="container">
		<div id="txt">
			<h1>Vedran Sokol</h1>
			<p>jsddf jieorrtj sdfniojhrt erj uiehieur hiw ouh erljkbsdlkfjh rl ulhrlrtjngl</p>
		</div>
		<img src="" id="picture">
	</div>
</div>