#text{
    margin: 5px;
}

#cont{
	float: left;
	width: 78%;
	margin-right: 2%;
	height: 100%;
	background-color: rgba(240,240,240,0.8);
}

#info{
	overflow: hidden;
	margin-top: 20px;
	width: 20%;
	height: 100%;
	background-color: rgba(240,240,240,0.8);
}

#infoText{
	margin: 5px;
}

#text img{
	width: 300px;
	height: 400px;
	background-color: gray;
}